* {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e2e6e3;
    color: #1e2123;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #503818;
    border-radius: 10px;
    height: 50px;
    align-items: center;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #e2e6e3;
    font-size: 18px;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

a:hover {
    color: #ff5e17;
    border-radius: 5px;
}

.padre {
    min-width: 600px;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    margin: 20px auto;
}

hr {
    margin: 10px;
}


.titulos {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.titulos img {
    width: 100%;
    max-width: 650px;
    margin: 20px auto;

}

.titulos h1 {
    font-family: 'Cocomat Pro', sans-serif;
    font-size: 3rem;
    color: #ff5e17;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 100;
}

.titulos h2 {
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 1.8rem;
    color: #06273f;
    margin-bottom: 15px;
}

.titulos h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #1e2123;
    margin-bottom: 20px;
    line-height: 1.5;
}

.parrafos {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 50px auto;
}

.parrafos p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.parrafos strong {
    color: #ff5e17;
}

.parrafos em {
    color: #0095ff;
    font-style: italic;
}

.parrafos a {
    color: #00ff88;
    text-decoration: none;
    transition: all 0.3s ease;
}

.parrafos a:hover {
    color: #06273f;
}

blockquote {
    border-left: 4px solid #ff5e17;
    padding-left: 15px;
    margin: 0 0 15px 0;
    color: #1e2123;
    font-style: italic;
    background-color: #f9f9f9;
    padding: 10px 15px;
    border-radius: 5px;
}

blockquote cite {
    display: block;
    text-align: left;
    font-size: 0.9rem;
    color: #06273f;
}

blockquote cite a {
    color: #06273f;
}

dt {
    margin-bottom: 5px;
}



dd {
    margin-left: 20px;
    font-style: italic;
}

.proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.proyecto img {
    width: 100%;
    max-width: 650px;
    margin: 20px auto;
}